#bt{
    display: flex;
    gap: 10px;
}
/* #flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */
label{
    font-size: larger;
    font-weight: bolder;    
}
.example-full-width {
    width: 100%;
    padding: 2px;
  }