<form [formGroup]="loginForm" class = "form" (ngSubmit) = "submite(loginForm.value)">
    <div class="example-container">
       <mat-form-field appearance="fill">
         <mat-label>Enter your Name</mat-label>
         <input matInput  formControlName="Name" required>
         <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>
    <div class="example-container">
       <mat-form-field appearance="fill">
         <mat-label>Enter your ID</mat-label>
         <input matInput formControlName="ID">
         
       </mat-form-field>
    </div>
    <div class="button">
       <button mat-raised-button color="primary">Log In</button>
    </div>
 </form> 